<nav>
   <ul>
        <li>
         Accueil
        </li>
        <li>
         Nous Rejoindre
        </li>
        <li>
        <a href="{{ path('home')}}">
        <img src="{{asset('img/logo.png')}}" alt="logo ArdenGames" height= "180px">
        </a>
        </li>
        
        <li>
         Evenements
        </li>

        <li>
         Nous contactez
        </li>
   <ul>
</nav>