<nav>
   <ul>
        <li>
         Nous Rejoindre
        </li>
        <li>
        <img src="{{asset('img/logo.png')}}" alt="logo ArdenGames" height= "180px">
        </li>
        
        <li>
         Evenements
        </li>
   <ul>
</nav>